<div mdl-shadow="2">
    <mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
        <mdl-layout-header class="map-view-header">
            <mdl-layout-header-row>
                <i class="material-icons">home</i>
                <mdl-layout-title>
                    <span style="font-family:cursive">Peek N Make</span>
                </mdl-layout-title>
            </mdl-layout-header-row>
        </mdl-layout-header>

        <mdl-layout-content class="map-container">
            <div class="map">
                <agm-map [latitude]="lat" [longitude]="lng" [minZoom]="minZoom" [maxZoom]="maxZoom" [zoom]="zoom" [styles]="mainMapStyles"
                    (mapClick)="mapClicked($event)">
                    <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="200000" [fillColor]="'grey'" [circleDraggable]="true" [editable]="true">
                    </agm-circle>
                </agm-map>
            </div>
            <div class="map-videos">
                <div>Lets Find Some Food</div>
                <div class="map-video" *ngFor="let video of mapVideos" >
                    <app-h-video [video]="video"></app-h-video>
                </div>
            </div>
            <div class="map-footer"></div>
        </mdl-layout-content>
     </mdl-layout>
</div>