<form [formGroup]="searchForm" (ngSubmit)="doSearch($event)">
  <div class="mdl-textfield mdl-js-textfield" style="width: 60%;">
    <input class="mdl-textfield__input" list="browsers" #term (keyup)="suggest(term.value)" formControlName="query" type="text" id="query" autocomplete="off">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--icon">
		<i class="material-icons">search</i>
    </button>
  </div>

</form>


  <!--<input list="browsers" name="browser">-->
  <datalist id="browsers">
      <option *ngFor="let item of items" value={{item}}>
  </datalist>
<!--<input #term (keyup)="search(term.value)" />
<ul>
  <li *ngFor="let item of items | async">{{item}}</li>
  <li *ngFor="let item of items">{{item}}</li>
</ul>-->