<div class="wrap">
  <form [formGroup]="searchForm" (ngSubmit)="gotoSearch($event)">
    <div class="search">
      <input type="text" class="searchTerm" #queryinput list="browsers" (keyup)="suggest(queryinput.value)" 
      formControlName="query" placeholder="search your recipe">
      <button type="submit" class="searchButton">
        <i class="material-icons">search</i>
     </button>
      <datalist id="browsers">
        <select>
        <option *ngFor="let item of items" value={{item}}></option>
        </select>
      </datalist>
    </div>
  </form>
</div>