<!-- <img src="assets/mainpic.png"> -->
<div class="frontpage">
    <div class="topLinks" style="padding:25px">
        <app-search-configuration></app-search-configuration>
        <app-user-information></app-user-information>
    </div>
    <div class="wrap ">
        <form [formGroup]="searchForm" (ngSubmit)="gotoSearch($event)">
            <div id="search" class="search">
                <div (click)="onSearchInputClick()">
                    <input type="text" class="searchTerm" #queryinput list="browsers" (keyup)="suggest(queryinput.value)" formControlName="query"
                        placeholder="search your recipe" />
                    <button type="submit" class="searchButton">
                        <i class="material-icons">search</i>
                    </button>
                </div>
                <div>
                    <button class="sns-link-button mdl-button mdl-js-button mdl-button--raised">
                        <i class="material-icons">phonelink_setup</i>
                        <span>Link Devices</span>
                    </button>
                </div>

                <div *ngIf="showSuggestDropDown">
                    <div id="myDropdown" class="suggestion-dropdown suggestion-dropdown-content suggestion-show">
                        <div class="advanceSearch">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                                <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
                                <span class="mdl-radio__label">recipe</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                                <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
                                <span class="mdl-radio__label">ingredients</span>
                            </label>
                        </div>
                        <ul>
                            <li *ngFor="let item of items" (click)="searchItemSelected(item)">
                                <div class="">{{item}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>